[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "*"
lxml = "*"
requests = "*"
tornado = "*"

[requires]
python_version = "3.10.1"

[dev-packages]
flake8 = "*"
mkdocs = "*"
mkdocs-material = "*"
mkdocstrings = "*"
nose = "*"
pytest = "*"
